<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% content_for :sideLeft do %>
  <%= image_tag(@random_image, :class => 'imgHome') %>
<% end %>

<% content_for :main do %>
  <%= image_tag('main.png') %>
<% end %>

<% content_for :sideRight do %>
  <%= image_tag('right.png') %>
<% end %>