<h1>Pages#registration</h1>
<p>Find me in app/views/pages/registration.html.erb</p>

<% content_for :sideLeft do %>
  <%= image_tag(@random_image, :class => 'imgHome') %>
<% end %>

<% content_for :main do %>
  <!-- MAIN GOES HERE -->
<% end %>

<% content_for :sideRight do %>
  <%= image_tag('right.png') %>
<% end %>