#statContain{
	padding: 0px 0px 0px 0px;
	width: 300px;
	height: 25px;
	line-height: normal;
	position: relative;
}

#team{
	border: thin ridge #000000;
	padding: 0px 0px 0px 0px;
	width: 120px;
	height: 25px;
	font-size: 18px;
	position: absolute;
}
#wins{
	border: thin ridge #000000;
	padding: 0px 0px 0px 0px;
	width: 60px;
	height: 25px;
	top: 0px;
	left: 120px;
	right: 0px;
	bottom: 0px;
	font-size: 18px;
	position: absolute;
}
#loses{
	border: thin ridge #000000;
	padding: 0px 0px 0px 0px;
	width: 70px;
	height: 25px;
	top: 0px;
	left: 180px;
	right: 0px;
	bottom: 0px;
	font-size: 18px;
	position: absolute;
}
#ties{
	border: thin ridge #000000;
	padding: 0px 0px 0px 0px;
	width: 50px;
	height: 25px;
	top: 0px;
	left: 250px;
	right: 0px;
	bottom: 0px;
	font-size: 18px;
	position: absolute;
}